<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>削除確認画面</title>
</head>
<body>
<h1 >削除確認</h1>

削除してもよろしいですか？

<form method="post" action="/profile/delete" th:object=${profile}>
<table>
<tr>
 <th>ID</th>
 <td>[[${profile.id}]]</td>
 <td><input type="hidden" class="form-control" th:field="*{id}"/></td>
</tr>
<tr>
 <th>名前</th>
 <td>[[${profile.name}]]</td>
</tr>
<tr>
 <th>アピールポイント</th>
 <td>[[${profile.appealingPoint}]]</td>
</tr>
<tr>
 <th>現在の職務</th>
 <td>[[${profile.duties}]]</td>
</tr>
<tr>
 <th>将来やりたいこと</th>
 <td>[[${profile.challenge}]]</td>
</tr>
<tr>
 <th>職歴</th>
 <td>[[${profile.workHistory}]]</td>
</tr>
<tr>
 <th>スキル</th>
 <td>[[${profile.skill}]]</td>
</tr>
<tr>
 <th>趣味</th>
 <td>[[${profile.hobby}]]</td>
</tr>
<tr>

</tr>
<tbody>
</tbody>
</table>
<input type="submit" value="確定"/>
</form>
<br/>

<a th:href="@{'/profile/detail/'+${profile.id}}">戻る</a>
<a th:href="@{'/profile'}">一覧へ</a>

</html>