<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>詳細</title>
</head>
<body>
<h1 >詳細</h1>

<table>
<tr>
 <th>ID</th>
 <td>[[${detail.id}]]</td>
</tr>
<tr>
 <th>名前</th>
 <td>[[${detail.name}]]</td>
</tr>
<tr>
 <th>アピールポイント</th>
 <td>[[${detail.appealingPoint}]]</td>
</tr>
<tr>
 <th>現在の職務</th>
 <td>[[${detail.duties}]]</td>
</tr>
<tr>
 <th>将来やりたいこと</th>
 <td>[[${detail.challenge}]]</td>
</tr>
<tr>
 <th>職歴</th>
 <td>[[${detail.workHistory}]]</td>
</tr>
<tr>
 <th>スキル</th>
 <td>[[${detail.skill}]]</td>
</tr>
<tr>
 <th>趣味</th>
 <td>[[${detail.hobby}]]</td>
</tr>
<tr>

</tr>
<tbody>



</tbody>
</table>

<br/>
<a th:href="@{'/profile/edit/'+${detail.id}}">編集</a>
<a th:href="@{'/profile/delete/'+${detail.id}}">削除</a>
<a th:href="@{'/profile'}">一覧へ</a>
<a th:href="@{'/profile/input'}">新規登録へ</a>
</html>