<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <title>CRUDforTask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1 th:text="${title}">ようこそ</h1>
<p th:if="${complete}" th:text="${complete}"></p>
<form method="POST" th:action="${taskForm.isNewTask}? @{/task/insert} : @{/task/update}" th:object="${taskForm}">
	<label>タスクタイプ（選択してください）：</label>
	<select name="typeId">
	<option value="1" th:selected="*{typeId == 1}">緊急</option>
	<option value="2" th:selected="*{typeId == 2}">重要</option>
	<option value="3" th:selected="*{typeId == 3}">できれば</option>
	</select><br>
	<div th:if="${#fields.hasErrors('typeId')}" th:errors="*{typeId}"></div>
	<label>やること：</label>
	<input type="text" name="title" th:value="*{title}" /><br>
	<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
	<label>詳細：</label>
	<input type="text" name="detail" th:value="*{detail}" /><br>
	<div th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}"></div>
	<label>期限：</label>
	<input type="datetime-local" name="deadline" th:value="*{deadline}" /><br>
	<div th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}"></div>
	<input  th:if="${taskId}" type="hidden" name="taskId" th:value="${taskId}">
	<input type="button" class="btn btn-primary" value="送信">
</form>
<div th:if="${taskForm.isNewTask}" style="margin:10px">
<h3>タスク　編集削除</h3>
<table>
	<tr th:each="obj : ${list}">
		<td th:text=${obj.id}></td>
		<td th:text=${obj.title}></td>
		<td th:text=${obj.deadline}></td>
		<td th:text=${obj.taskType.type}></td>
		<td><a type="button" th:href="@{/task/{id}(id=${obj.id})}">編集</a></td>
		<td>
			<form method="POST" th:action="@{/task/delete}">
			<input type="hidden" name="taskId" th:value="${obj.id}">
			<input type="submit" value="削除">
			</form>
		</td>
	</tr>
</table>
</div>

<p th:unless="${taskForm.isNewTask}"><a href="#" th:href="@{/task}">戻る</a></p>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>