<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"></link>
	

	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>	
	
	
<title>募集内容詳細画面</title>
</head>
<body>
	<div class="col-md-8">
		<div class="page-header">
			<h1>募集内容詳細</h1>
		</div>
			
					<table class="table table-bordered table-hover table-striped">
			<tr>
				<th>グループ名</th>
				<th>部署名</th>
				<th>募集タイトル</th>
				<th >募集内容</th>
				<th >募集内容詳細</th>
				<th>募集人材</th>
				<th>必要スキル</th>
				<th>連絡先</th>
			</tr>
			<tr>
				<td th:text="${dept.groupName}"></td>
				<td th:text="${dept.departmentName}"></td>
				<td th:text="${dept.title}"></td>
				<td th:text="${dept.recruitment}"></td>
				<td th:text="${dept.recruitmentDetail}"></td>
				<td th:text="${dept.recruitee}"></td>
				<td th:text="${dept.skills}"></td>
				<td th:text="${dept.contact}"></td>
		</tr>
		</table>
		<form>
			<input type="button" Value="一覧画面に戻る" onClick="history.go(-1);">
		</form>
		</div>


</body>
</html>